<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="h5 text-white text-decoration-none" href="#">개인정보 DB</div>
        </div>
    </nav>
    <form action="./add" method="POST" class="d-flex justify-content-center align-items-center mt-5">
        <div class="w-5">
            <input name="name" type="text" class="form-control" placeholder="이름">
        </div>
        <div class="w-5">
            <input name="mail" type="text" class="form-control" placeholder="e-mail">
        </div>
        <div class="w-25">
            <input name="adress" type="text" class="form-control" placeholder="주소">
        </div>
        <div class="w-10">
            <input name="phone" type="text" class="form-control" placeholder="핸드폰">
        </div>
        <div class="w-10">
            <input name="agree" type="checkbox" class="form-check-input" placeholder="개인정보">
        </div>
        <!--type명시 해야합니다-->
        <!-- 기본값은 submit입니다. -->
        <button type="submit" class="btn btn-primary ml-4">추가하기</button>

    </form>
    <ul class="list-group w-75 ml-auto mr-auto mt-3">

        <% data.forEach(li=>{ %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <input class="form-check-input w-100 border-0 text-center text-decoration person<%=li.id%>" type="text"
                     value="<%=li.name %>" readonly>
            </span>
            <span>
                <input class="form-check-input w-100 border-0 text-center text-decoration person<%=li.id%>" type="text"
                     value="<%=li.email %>" readonly>
            </span>
            <span>
                <input class="form-check-input w-100 border-0 text-center text-decoration person<%=li.id%>" type="text"
                     value="<%=li.Phone %>" readonly>
            </span>
            <span>
                <input class="form-check-input w-100 border-0 text-center text-decoration person<%=li.id%>" type="text"
                     value="<%=li.Adress %>" readonly>
            </span>
            <span>
                <input class="form-check-input w-100 border-0 text-center text-decoration person<%=li.id%>" type="text"
                  value="<%=li.Agree %>" readonly>
            </span>

            <div class="d-flex align-items-center">
                <button class="btn btn-warning btn-sm" id="update<%=li.id%>" onclick="updatelist('<%=li.id%>')">
                    수정
                </button>
                <button class="btn btn-danger btn-sm ml-3" id="delete<%=li.id%>" onclick="deletelist('<%=li.id%>')">
                    삭제
                </button>
            </div>
        </li>
        <%})%>

    </ul>
    <script>

        function updatelist(id) {
            //console.log(id);
            const updateButton = document.querySelector(`#update${id}`);
            const list = document.querySelectorAll(`.person${id}`);
        
            //const {name} = list;
          //  console.log(list[0].value);
            if (updateButton.classList.contains("btn-info")) {
                //    update.
      
                location.href=`/update/list/${id}?name=${list[0].value}&email=${list[1].value}&Phone=${list[2].value}&Adress=${list[3].value}&agree=${list[4].value}`;
            }
            updateButton.classList.replace("btn-warning", "btn-info");
            list.forEach(el => {
                el.removeAttribute("readonly");
                el.focus();
            });
        }
        function deletelist(id)
        {
            const deleteButton = document.querySelector(`#delete${id}`);
            const deleteQuestion = confirm("삭제하시겠습니까?");
            if(deleteQuestion)
            {
                location.href = `/delete/list/${id}`;
            }
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>